<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  text-align: left;
  color:black;
  font-family:"Comic Sans MS", cursive, sans-serif;
}
p {
  text-align: left;
  color: black;
  font-family:"Comic Sans MS", cursive, sans-serif
}
</style>
</head>
<body>

<h1>English Premier League</h1>
<p>GAME SIMULATOR</p>

<p></p>
<p></p>
<p></p>


<p> SELECT TWO TEAMS </p>
<form method="get" action= "/generate_results">
<select name="home_team">
    <option value="Arsenal" > Arsenal <br>
    <option value="Bournemoth" > Bournemoth <br>
    <option value="Burnley" > Burnley <br>
    <option value="Chelsea" > Chelsea <br>
    <option value="Crystal_Palace" > Crystal Palace <br>
    <option value="Everton" > Everton <br>
    <option value="Hull_City" > Hull City <br>
    <option value="Leicester_City" > Leicester City <br>
    <option value="Liverpool" > Liverpool <br>
    <option value="Manchester_City" > Manchester City <br>
    <option value="Manchester_United" > Manchester United <br>
    <option value="Middlesborough" > Middlesborough <br>
    <option value="Southampton" > Southampton <br>
    <option value="Stoke_City" > Stoke City <br>
    <option value="Sunderland" > Sunderland <br>
    <option value="Swansea_City" > Swansea City <br>
    <option value="Tottenham" > Tottenham <br>
    <option value="Watford" > Watford <br>
    <option value="West_Bromwich" > West Bromwich <br>
    <option value="West_Ham_United" > West Ham United <br>
</select>

<p> VERSUS </p>


<select name="away_team">
    <option value="Arsenal" > Arsenal <br>
    <option value="Bournemoth" > Bournemoth <br>
    <option value="Burnley" > Burnley <br>
    <option value="Chelsea" > Chelsea <br>
    <option value="Crystal_Palace" > Crystal Palace <br>
    <option value="Everton" > Everton <br>
    <option value="Hull_City" > Hull City <br>
    <option value="Leicester_City" > Leicester City <br>
    <option value="Liverpool" > Liverpool <br>
    <option value="Manchester_City" > Manchester City <br>
    <option value="Manchester_United" > Manchester United <br>
    <option value="Middlesborough" > Middlesborough <br>
    <option value="Southampton" > Southampton <br>
    <option value="Stoke_City" > Stoke City <br>
    <option value="Sunderland" > Sunderland <br>
    <option value="Swansea_City" > Swansea City <br>
    <option value="Tottenham" > Tottenham <br>
    <option value="Watford" > Watford <br>
    <option value="West_Bromwich" > West Bromwich <br>
    <option value="West_Ham_United" > West Ham United <br>
</select>


<p></p>

<input type="submit" class="button">Generate result</input>
--make this submit
</form>

</body>
</html>
