<!DOCTYPE html>
<html>
<head>
     <link rel= "stylesheet" href="static/main.css">

</head>
<body>

<h1>English Premier League</h1>
<p>GAME PREDICTOR</p>

<p></p>
<p></p>
<p></p>


<p> SELECT TWO TEAMS </p>
<form method="get" action= "/generate_results">

<p1> HOME </p1>
<select name="home_team">
    <option value=0 > Arsenal <br>
    <option value=1 > Bournemoth <br>
    <option value=3 > Burnley <br>
    <option value=5 > Chelsea <br>
    <option value=6 > Crystal Palace <br>
    <option value=7 > Everton <br>
    <option value=24 > Hull City <br>
    <option value=10 > Leicester City <br>
    <option value=11 > Liverpool <br>
    <option value=12 > Manchester City <br>
    <option value=13 > Manchester United <br>
    <option value=25 > Middlesborough <br>
    <option value=15 > Southampton <br>
    <option value=20 > Stoke City <br>
    <option value=26 > Sunderland <br>
    <option value=21 > Swansea City <br>
    <option value=16 > Tottenham <br>
    <option value=2 > Watford <br>
    <option value=23 > West Bromwich <br>
    <option value=18 > West Ham United <br>
    <option value=2 > Brighton <br>
    <option value=9 > Huddersfeld <br>
</select>

<p> VERSUS </p>

<p1> AWAY </p1>
<select name="away_team">
    <option value=0 > Arsenal <br>
    <option value=1 > Bournemoth <br>
    <option value=3 > Burnley <br>
    <option value=5 > Chelsea <br>
    <option value=6 > Crystal Palace <br>
    <option value=7 > Everton <br>
    <option value=24 > Hull City <br>
    <option value=10 > Leicester City <br>
    <option value=11 > Liverpool <br>
    <option value=12 > Manchester City <br>
    <option value=13 > Manchester United <br>
    <option value=25 > Middlesborough <br>
    <option value=15 > Southampton <br>
    <option value=20 > Stoke City <br>
    <option value=26 > Sunderland <br>
    <option value=21 > Swansea City <br>
    <option value=16 > Tottenham <br>
    <option value=22 > Watford <br>
    <option value=23 > West Bromwich <br>
    <option value=18 > West Ham United <br>
    <option value=2 > Brighton <br>
    <option value=9 > Huddersfeld <br>
</select>


<p></p>

<input type="submit" value ="Generate mock-game" class="button"></input>
</form>

</body>
</html>
